<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Email has been verified successfully...</h1>
    <form action="http://localhost:3000/netflix/status/verify/<%=result2[0]['username']%>" method="post">
        <label for="pass-input">
            Enter Password:
        </label>
        <input type="password" name="pass" id="pass-input">
        <button type="submit">Continue</button>
    </form>
</body>
</html> -->