<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTv - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: rgb(0, 0, 0);
            padding-inline: 2rem;
        }
        .top-collections-container,
        #action-movies-container,
        #drama-movies-container,
        #romance-movies-container {
            background-color: black;
            padding-block: 4rem;
            border-bottom: solid 0.2rem grey;
            overflow-x: scroll;
        }
        #offcanvasDarkNavbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;
        }
        .dropdown-item:hover {
            background-color: cadetblue;
        }
        #user-page-main-container video {
            height: 85vh;
            width: 100%;
            object-fit: cover;
        }
        #user-page-main-container {
            opacity: 0.5;
        }
        .videos {
            width: 18rem;
            height: 15rem;
        }
        .top-collections {
            display: flex;
            gap: 2.5rem;
            overflow-x: scroll;
            scroll-behavior: smooth;
            justify-content: flex-start;
            /* padding-inline: 2rem; */
            padding-block: 2rem;
        }
        .action-movies, .drama-movies, .romance-movies {
            display: flex;
            gap: 2.5rem;
            justify-content: flex-start;
            /* padding-inline: 2rem; */
            padding-block: 4rem;
        }
        .video-container {
            border: solid aliceblue 0.4rem;
            border-radius: 0.5rem;
            padding-inline: 1rem;
            /* position: relative; */
        }
        @keyframes trans {
            /* 50% {
                transform: scaleX(1.01); 
                transform: scaleY(1.3); 
            }
            100% {
                transform: scaleX(1.15);
                transform: scaleY(1.04);
            } */
            /* 100% {
                transform: scaleX(1.03); 
                transform: scaleY(1.4); 
            } */
        }
        .video-container:hover {
            cursor: pointer;
            transition: 0.3s ease-in-out;
            transform: scale(1.1);
            /* animation: trans ease-in-out alternate 1s forwards; */
            box-shadow: 0.3rem 0.3rem 1rem white;
            border-radius: 2rem;
        }
        .movies-category {
            display: flex;
            gap: 3rem;
            align-items: center;
            margin-left: 21rem;
        }
        .movies-category button {
            color: gray;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .movies-category button:hover {
            color: rgb(210, 210, 210);
        }
        td {
            padding-right: 10rem !important;
        }
        a {
            text-decoration: none;
        }
        ::-webkit-scrollbar {
            width: 5px;
            background-color: black;
        }

        ::-webkit-scrollbar-thumb {
            background: #7c7c7c;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body>
    <nav id="main-page-nav-bar" style="background-color: rgb(0, 0, 0, 0.7);" class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid d-flex">
            <a style="margin-left: -0.8rem;" class="navbar-brand" href=""><img height="60rem" width="150rem" src="/pic.svg" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <!-- <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="/Logos/logo.svg" alt="logo"></h5> -->
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="movies-category">
                    <div class="category"><button class="btn btn-outline" onclick="scrollToAction()" id="actionbtn">Action</button></div>
                    <div class="category"><button class="btn btn-outline" onclick="scrollToDrama()" id="dramabtn">Drama</button></div>
                    <div class="category"><button class="btn btn-outline" onclick="scrollToRomance()" id="romancebtn">Love</button></div>
                </div>
                <div class="offcanvas-body">
                    <ul style="margin-right: -1.7rem;" class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- <div class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div> -->
                        <li class="nav-item dropdown">
                            <a class="btn btn-danger" style="font-size: 1rem; font-weight: 700; margin-left: 1rem; display: flex; --bs-btn-padding-x: 1rem; --bs-btn-padding-y: 0.5rem;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="/profile.svg"> &nbsp;<%=result2[0]['username']%></a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a style="color: aliceblue;" class="dropdown-item" href="http://localhost:3000/webtv">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="user-page-main-container">
        <video src="/video.mp4" autoplay="true" muted controls></video>
    </div>
    <div class="top-collections-container">
        <h3 style="font-size: 3rem; padding-top: 1rem; color: aliceblue;">Our Top Collections</h3>
        <div class="top-collections">
            <div class="video-container">
                <video class="videos" src="/Dunki.mp4" poster="/Dunki.avif"></video>
                <h3 style="color: aliceblue;">Dunki</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Salaar.mkv" poster="/salaar.jpg"></video>
                <h3 style="color: aliceblue;">Salaar</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/12th Fail.mkv" poster="/12th Fail.jpg"></video>
                <h3 style="color: aliceblue;">12th Fail </h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Yeh Jawani Hai Deewani.mkv" poster="/YJHD.jpg"></video>
                <h3 style="color: aliceblue;">Yeh Jawaani Hai Deewani</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Animal.mkv" poster="/Animal.avif"></video>
                <h3 style="color: aliceblue;">Animal</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Nowhere.mkv" poster="/Nowhere.jpg"></video>
                <h3 style="color: aliceblue;">Nowhere</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Jawan.mkv" poster="/jawan.jpg"></video>
                <h3 style="color: aliceblue;">Jawan</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/GinnyWedsSunny.mkv" poster="/Ginny Weds Sunny.jpg"></video>
                <h3 style="color: aliceblue;">Ginny Weds Sunny</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Kal Ho Naa Ho.mkv" poster="/Kal-ho-naa-ho.jpg"></video>
                <h3 style="color: aliceblue;">Kal Ho Naa Ho</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Phantom.mkv" poster="/phantom.jpg"></video>
                <h3 style="color: aliceblue;">Phantom</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Merry Christmas.mkv" poster="/merry christmas.jpg"></video>
                <h3 style="color: aliceblue;">Merry Christmas</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Wake Up Sid.mkv" poster="/wake up sid.jpg"></video>
                <h3 style="color: aliceblue;">Wake Up Sid</h3>
            </div>
        </div>
    </div>
    <div id="action-movies-container">
        <h3 style="font-size: 3rem; padding-top: 1rem; color: aliceblue;">Action</h3>
        <div class="action-movies">
            <div class="video-container">
                <video class="videos" src="/Animal.mkv" poster="/Animal.avif"></video>
                <h3 style="color: aliceblue;">Animal</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Salaar.mkv" poster="/salaar.jpg"></video>
                <h3 style="color: aliceblue;">Salaar</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Jawan.mkv" poster="/jawan.jpg"></video>
                <h3 style="color: aliceblue;">Jawan</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Phantom.mkv" poster="/phantom.jpg"></video>
                <h3 style="color: aliceblue;">Phantom</h3>
            </div>
        </div>
    </div>
    <div id="drama-movies-container">
        <h3 style="font-size: 3rem; padding-top: 1rem; color: aliceblue;">Drama</h3>
        <div class="drama-movies">
            <div class="video-container">
                <video class="videos" src="/12th Fail.mkv" poster="/12th Fail.jpg"></video>
                <h3 style="color: aliceblue;">12th Fail</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Dunki.mp4" poster="/Dunki.avif"></video>
                <h3 style="color: aliceblue;">Dunki</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Merry Christmas.mkv" poster="/merry christmas.jpg"></video>
                <h3 style="color: aliceblue;">Merry Christmas</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Nowhere.mkv" poster="/Nowhere.jpg"></video>
                <h3 style="color: aliceblue;">Nowhere</h3>
            </div>
        </div>
    </div>
    <div id="romance-movies-container">
        <h3 style="font-size: 3rem; padding-top: 1rem; color: aliceblue;">Love</h3>
        <div class="romance-movies">
            <div class="video-container">
                <video class="videos" src="/Kal Ho Naa Ho.mkv" poster="/Kal-ho-naa-ho.jpg"></video>
                <h3 style="color: aliceblue;">Kal Ho Naa Ho</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/GinnyWedsSunny.mkv" poster="/Ginny Weds Sunny.jpg"></video>
                <h3 style="color: aliceblue;">Ginny Weds Sunny</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Wake Up Sid.mkv" poster="/wake up sid.jpg"></video>
                <h3 style="color: aliceblue;">Wake Up Sid</h3>
            </div>
            <div class="video-container">
                <video class="videos" src="/Yeh Jawani Hai Deewani.mkv" poster="/YJHD.jpg"></video>
                <h3 style="color: aliceblue;">Yeh Jawaani Hai Deewani</h3>
            </div>
        </div>
    </div>
    <div class="new-user-footer" style="margin-top: 2rem; background-color: black; opacity: 0.8; color: grey;">
        <table>
            <tr>
                <td colspan="4">Questions? Call <a href="#">000-800-919-1694</a></td>
            </tr>
            <tr>
                <td><a href="#">FAQ</a></td>
                <td><a href="#">Help Centre</a></td>
                <td><a href="#">WebTv Shop</a></td>
                <td><a href="#">Terms of Use</a></td>
            </tr>
            <tr>
                <td><a href="#">Privacy</a></td>
                <td><a href="#">Cookie Preferences</a></td>
                <td><a href="#">Corporate Information</a></td>
            </tr>
            <tr>
                <td id="dropdown-td" colspan="4">
                    <select name="language-dropdown" class="language-dropdown">
                        <option value="">Language</option>
                        <option value="English">English</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>

        function scrollToAction() {
            var actionToScroll = document.getElementById('action-movies-container')
            actionToScroll.scrollIntoView({ behavior: 'smooth' });
        }
        function scrollToDrama() {
            var dramaToScroll = document.getElementById('drama-movies-container');
            dramaToScroll.scrollIntoView({ behavior: 'smooth' });
        }
        function scrollToRomance() {
            var romanceToScroll = document.getElementById('romance-movies-container');
            romanceToScroll.scrollIntoView({ behavior: 'smooth' });
        }

        let mainToScroll = document.querySelector('#user-page-main-container video');
        function scrollToMain() {
            mainToScroll.scrollIntoView({ behavior: 'smooth' });
        }
        
        let videoContainers = document.querySelectorAll('.video-container');
        for(let videoContainer of videoContainers) {
            videoContainer.addEventListener('click',()=>{
                let currentVideo = videoContainer.childNodes;
                scrollToMain();
                console.dir(currentVideo[1]);
                mainToScroll.setAttribute('src',`${currentVideo[1].src}`);
                mainToScroll.webkitRequestFullScreen();
                mainToScroll.setAttribute('muted','false');
            });
        }
        
    </script>
</body>
</html>